@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@source "./app/**/*.{js,jsx,ts,tsx}";
@source "./components/**/*.{js,jsx,ts,tsx}";
@source "./hooks/**/*.{js,jsx,ts,tsx}";
@source "./constants/**/*.{js,jsx,ts,tsx}";

@theme {
  /* Colors - background */
  --color-background-primary: #09090b;
  --color-background-secondary: #18181b;
  --color-background-tertiary: #27272a;
  --color-background-button-primary: #84cc16;
  --color-background-button-secondary: #27272a;
  --color-background-badge-success: rgba(190, 242, 100, 0.1);
  --color-background-badge-error: rgba(248, 113, 113, 0.1);
  --color-background-badge-neutral: rgba(212, 212, 216, 0.1);

  /* Colors - content */
  --color-content-primary: #fafafa;
  --color-content-secondary: #a1a1aa;
  --color-content-tertiary: #71717a;
  --color-content-button-primary: #18181b;
  --color-content-badge-success: #bef264;
  --color-content-badge-error: #f87171;
  --color-content-badge-info: #0284c7;

  /* Colors - border */
  --color-border-primary: #27272a;
  --color-border-secondary: #3f3f46;

  /* Colors - brand */
  --color-brand-logo: #bef264;
  --color-brand-accent: #84cc16;

  /* Fonts */
  --font-inter: "Inter_400Regular";
  --font-inter-medium: "Inter_500Medium";
  --font-inter-semibold: "Inter_600SemiBold";
  --font-inter-bold: "Inter_700Bold";
  --font-onest: "Onest_400Regular";

  /* Font sizes */
  --font-size-xs: 12px;
  --line-height-xs: 16px;
  --font-size-sm: 14px;
  --line-height-sm: 20px;
  --font-size-base: 16px;
  --line-height-base: 24px;
  --font-size-lg: 18px;
  --line-height-lg: 28px;
  --font-size-xl: 20px;
  --line-height-xl: 28px;
  --font-size-2xl: 24px;
  --line-height-2xl: 32px;
  --font-size-3xl: 30px;
  --line-height-3xl: 36px;
  --font-size-4xl: 36px;
  --line-height-4xl: 40px;
  --font-size-5xl: 48px;
  --line-height-5xl: 48px;

  /* Border radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius: 8px;
  --radius-md: 8px;
  --radius-xl: 24px;
  --radius-full: 9999px;

  /* Box shadow */
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-ring: 0 0 0 1px #27272a;
  --shadow-badge-success: 0 0 0 3px rgba(190, 242, 100, 0.1);
  --shadow-badge-error: 0 0 0 3px rgba(248, 113, 113, 0.1);
}
